* text=auto eol=lf

*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.webp -text
*.ico -text
*.ttf -text
*.otf -text
*.woff -text
*.woff2 -text
*.wav -text
*.mp3 -text
*.ogg -text
*.mp4 -text
*.zip -text
*.7z -text
*.dll -text
*.exe -text
